html:root{
    --green:#76c38f;
    --white:white;
    --grey-medium:#6b6b6b;
    --grey-light:#979797;
    --grey-dark:#333333;
    
    }


body{
    margin:0;
}
.container-fluid{

}
.container{
    max-width: 960px;
    width:90% ;
    margin: 0 auto;
 }

.container-fluid,.row{

    width: 100%;
    margin: 0;
}

.col{
    margin: 0;
    padding: 15px;
}
/* systme flexbox */

.d-flex{
    display: flex;
}

 .d-inline-flex{ 
    display: inline-flex;
}
.f-justify-content-between{
    justify-content: space-between;
} 
.f-justify-content-around {
    justify-content: space-around;
}

  .f-align-items-center{
    align-items: center;
} 
   .f-justify-content-center{
   justify-content: center;
        
}
.f-column{
   flex-direction: column;
}

.f-wrap{
   flex-wrap:wrap;
}

/* systeme margin et padding */
.m-0{
   margin: 0;
}
.mb-1{
   margin-bottom: 1rem;
}
.p-1{
padding:0.5rem;
}

/* systheme texte */
.text-upper{
    text-transform: uppercase
}
.text-color-green{
    color: var(--green);
}
.text-color-white{
    color: var(--white)
}
.text-color-grey-light{
color: var(--grey-light);
}

.text-color-grey-medium{
color: var(--grey-medium);
}
.text-color-grey-dark{
    color: var(--grey-dark);
}
ul{
    list-style: none;
    padding: 0;
}
ul > li{
    min-width: 110px;
    text-align:center;
    padding: 8px;
    box-sizing: border-box;
}
ul > li.active{
    border:2px solid var(--green);
}
header{
 
}
.header-row{
    
}
